@charset "utf-8";
/* CSS Document */

#cabecalho, #rodape {
    background-color:#00CCFF;
}

/* Modo Expansível */


#principal {
    margin: 0 200px;
}
#conteudo {
    position: relative;
    min-height: 300px;
}
.coluna {
    background-color:#CCCCCC;
    position: absolute;
    top:0;
    width: 190px;
}
#esquerda {
    left:0;
}
#direita {
    right: 0;
}

/* Modo Fixo */

#centralizador {
    margin: 0 auto;
    width: 900px;
}
#colesq, #coldir {
    float: left;
    width: 150px;
}
#centro {
    float:left;
    width: 600px;
}
#corpo {
    display: table;
}